
body, h1, h3, p, label {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    /* background: linear-gradient(135deg, #2c3e50, #3498db); */
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main {
    background: white;
    padding: 2.5rem 2rem;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
    text-align: center;
    animation: fadeIn 0.6s ease-in-out;
    margin: 40px auto 0 auto;
    position: relative;
    z-index: 1;
}


.main h1 {
    font-size: 1.6rem;
    color: #2c3e50;
    margin-bottom: 0.5rem;
}

.main h3 {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1.5rem;
}


label {
    display: block;
    text-align: left;
    font-size: 0.95rem;
    margin: 10px 0 6px;
    color: #2c3e50;
    font-weight: 500;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px 12px;
    font-size: 0.95rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border: 1px solid #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.4);
}


.error-message {
    color: red;
    font-size: 0.85rem;
    text-align: left;
    margin-top: 4px;
    margin-bottom: 6px;
}

/* .input-error {
    border: 2px solid red !important;
} */


a {
    text-decoration: none;
    transition: color 0.2s ease;
}

a:hover {
    color: #0056b3;
}


.wrap {
    margin-top: 1.2rem;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    background: #2c3e50 ;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
    background: g;
    transform: translateY(-2px);
    background-color: 	#006666;
}

button:active {
    transform: translateY(0);
    background-color: 	#006666;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}
