{% extends 'base.html' %}
{% load static %}

{% block title %}Reset Password{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'fims/css/forgot_password.css' %}">
{% endblock %}

{% block content %}
<div class="center">
    <h1>Reset Password</h1>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <center><h4 style="color: firebrick;">{{ message }}</h4></center>
            {% else %}
                <center><h4 style="color: dodgerblue;">{{ message }}</h4></center>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="signup_link">Enter your email to reset password</div>

    <form method="POST">
        {% csrf_token %}

        <div class="txt_field">
            <input type="email" name="email" id="forgot-email">
            <span></span>
            <label>Email</label>
            <div id="emailError" class="error-message"></div>
        </div>

        <input type="submit" value="Reset Password">

        <div class="signup_link">
            Remember your Password? <a href="{% url 'login_view' %}">Login</a>
        </div>
    </form>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'fims/js/reset_password.js' %}"></script>
{% endblock %}
