<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family Information Management System</title>
    <link rel="stylesheet" href="{% static 'fims/css/home.css' %}">
</head>
<body>
    <div id="home">
        <div id="logo">
            <h2>FIMS</h2>
        </div>
        <div id="container">
            <div id="cnt-name">
                <p>Welcome! Register Your Family</p>
            </div>
            <div id="cnt-button">
                <a href="{{'regis'}}" class="btn">Register</a>
                <a href="{{'login'}}" class="btn">Login</a>
            </div>
        </div>
    </div>
</body>
</html>
