{% extends 'base.html' %}
{% load static %}

{% block title %}Reset Password{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'fims/css/reset_password.css' %}">
{% endblock %}

{% block content %}
<div class="center">
    <h1>Reset Password</h1>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <center><h4 style="color: firebrick;">{{ message }}</h4></center>
            {% else %}
                <center><h4 style="color: dodgerblue;">{{ message }}</h4></center>
            {% endif %}
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}

                <div class="txt_field">
                    <label>Password:</label>
                        <input type="password" name="password" id="reset-password">
                        <span></span>
                        <div id="passwordError" class="error-message"></div>
                </div>

                <div class="txt_field">
                    <label>Confirm Password:</label>
                        <input type="password" name="confirm_password" id="reset-confirm-password">
                        <span></span>
                        <div id="confirmPasswordError" class="error-message"></div>
                </div>

        <input type="submit" value="Reset Password">

        <div class="signup_link">
            Remember your password? <a href="{% url 'login_view' %}">Login</a>
        </div>
    </form>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'fims/js/reset_password.js' %}"></script>
{% endblock %}
