{% extends 'base.html' %}
{% load static %}

{% block title %}Quick Stats{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'fims/css/stats.css' %}">
{% endblock %}

{% block content %}
<section id="stats-page">

    <!-- Top Half (Blank) -->
    <div class="stats-top"></div>

    <!-- Bottom Half (Cards) -->
    <div class="stats-bottom">
        <div class="card"><h1>Total Families Registered</h1><p>{{ total_families }}</p></div>
        <div class="card"><h1>Total Family Members</h1><p>{{ total_members }}</p></div>
        <div class="card"><h1>Married People</h1><p>{{ married_people }}</p></div>
        <div class="card"><h1>Unmarried People</h1><p>{{ unmarried_people }}</p></div>
        <div class="card"><h1>Total Active Members</h1><p>{{ active_members }}</p></div>
        <div class="card"><h1>Total Cities Registered</h1><p>{{ total_cities }}</p></div>
    </div>

</section>
{% block extra_js %}
<script src="{% static 'fims/js/stats.js' %}"></script>


{% endblock %}
{% endblock %}
